<p>parent2 works!</p>
<h2> {{strMessageReceived}} </h2>

<table >

    <thead>
        <th>Sr No</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Qty</th>
    </thead>

    <tbody>
        <tr *ngFor="let item of arrObjChildData;index as i">
            <td> {{i+1}} </td>
            <td> {{item.name}} </td>
            <td> {{item.price}} </td>
            <td> {{item.qty}} </td>
        </tr>
    </tbody>

</table>

<hr>
<app-child2 (childStrEvent)="strMessageReceived=$event" 
(childArrObjEvent)="arrObjChildData=$event"
></app-child2>